body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Arial', sans-serif;
  background-color: #333;
  overflow: hidden; /* Prevent scrolling */
  box-sizing: border-box;
}

.blackboard {
  position: relative;
  background-color: #000000;
  width: 100vw;
  height: 100vh;
  border: 1vh solid #F7931A; /* Keep the border */
  padding: 0;
  box-sizing: border-box;
}

.teams-container {
  position: absolute;
  top: 2vh;
  left: 2vh;
  right: 2vh;
  bottom: 10vh; /* Leave space for the bottom banner */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: calc(100% - 4vh); /* Ensure container doesn't overflow */
  box-sizing: border-box;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
}

.team-logo {
  width: 10vh; /* Larger size for better visibility */
  height: 10vh;
  object-fit: contain;
}

.player-list, .substitute-list {
  list-style-type: none;
  padding-left: 0;
  text-align: left;
  width: 90%;
  max-width: 350px;
  margin: 0 auto;
  flex-grow: 1;
  overflow-y: auto;
  max-height: 100%; /* Ensure the list does not overflow */
}

.substitutes-heading {
  color: white;
  font-size: 2.5vh;
}

.banner-container {
  position: absolute;
  bottom: 1vh; /* Positioned above the bottom border */
  left: 1vh;
  right: 1vh;
  height: 8vh; /* Smaller fixed height */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team h2 {
  text-align: center;
  color: white;
  font-size: 3vh;
  margin: 1vh 0;
}

.player-list li {
  margin: 0.5vh 0;
  color: white;
  font-size: 2vh;
}

.banner-image {
  max-width: 80%;
  height: auto;
  object-fit: contain;
}

.captain-icon {
  width: 1em;
  height: auto;
  margin-left: 0.5em;
  vertical-align: middle;
}

/* Responsive adjustments */
@media screen and (max-width: 1024px) {
  .team h2 {
    font-size: 2.5vh;
  }
  .player-list li {
    font-size: 1.8vh;
  }
  .team-logo {
    width: 8vh;
    height: 8vh;
  }
}

@media screen and (max-width: 768px) {
  .team h2 {
    font-size: 2vh;
  }
  .player-list li {
    font-size: 1.6vh;
  }
  .team-logo {
    width: 6vh;
    height: 6vh;
  }
}
